html{font-family:'Microsoft YaHei';}
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?k86bsm');
  src:  url('../../fonts/icomoon.eot?k86bsm#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?k86bsm') format('truetype'),
    url('../../fonts/icomoon.woff?k86bsm') format('woff'),
    url('../../fonts/icomoon.svg?k86bsm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bd{
	position:fixed;
	z-index:-10;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../../images/register_bmg1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.btn-gradient{
	text-align:center;
	text-decoration:none;
	display:inline-block;
	cursor:pointer;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	font-family:'Microsoft YaHei';
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#66A7F9), to(#0B7FF1));
}.btn-gradient:hover{
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#2888FF), to(#0072E3));
}
.ellipsis{
	text-overflow: ellipsis;
}
.ope-width{
	min-width:120px;
}
.search-btn{
	display:inline-block;
	width:22px;
	height:22px;
	cursor:pointer;
	background-image:url('../../images/search.png');
}
.post-top, .post-best{
	display:inline-block;
	width:32px;
	height:18px;
	line-height:18px;
	text-align:center;
	background-color:#66a3ff;
	color:#fff;
	font-size:12px;
}
.post-best{
	background-color:#FE6666;
	width:20px;
}
.select{background:#DFE0E4;}

/*分页按钮*/
.page-div{
	text-align: center;
	margin-top:25px;
}
.page-div input{
	cursor:pointer;
	height:28px;
}
.page-div a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width:27px;
	height:27px;
	line-height: 27px;
	border-radius: 2px;
	border:1px solid #d0d0d0;
}
.page-div a:hover{
	border:1px solid #2877ff;
}
.page-div .abtn{
	width:50px;
	padding-left:8px;
	padding-right:8px;
	background:#2877ff;
	color:#fff;
}
.now-page{
	border:none !important;
}
.icon-d{float:right;text-align:right;cursor:pointer;color:#969090;}
.icon-d:hover{color:#E84747;}