html{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

.main{
	width:900px;
	margin:-10px auto;
	background:#FAFAFA;
	border:1px solid #d0d0d0;
	padding-bottom:20px;
}
.main-box{
	height:59px;
}
.main-box-fixed{
	background:#fff;
	position:fixed;
	top:0;
	z-index:10;
	padding:15px;
	border-bottom:1px solid #bbbdbf;
	width:870px;
}
.q_title{
	float:left;
}
.btn{
	cursor:pointer;
	display:inline-block;
	float:right;
	margin-right:20px;
	padding:4px;
	border:1px solid #ccc;
	font-size:14px;
}
.btn:hover{
	background:#2888FF;
	color:#fff;
}
.w-content-box{
	background:#fff;
	border-bottom:1px solid #E1E4E6;
	overflow:auto;/*解决float：left导致父元素高度无法自适应*/
}
.w-left{
	float:left;
	background:#FAFBFC;
	width:150px;
	text-align:center;
}
.respondent{
	cursor:pointer;
}
.ans-intro{
	width:80px;
	height:80px;
	padding:3px;
	border:1px solid #ccc; 
	margin:20px auto;
}
.ans-intro img{width:80px;height:80px;border:0;}
.w-right{
	float:left;
	background:#fff;
	width:96%;
	border-left:1px solid #E1E4E6;
	padding:17px;
}
.w-r-main{
	min-height:70px;
	line-height:23px;
	margin:15px 20px 15px 20px;
}
.w-r-main img{
	max-width:400px;
	max-height:500px;
}
.r-top{
	height:30px;
	line-height:30px;
	text-align:right;
}
.r-time{color:#666;}
.r-fold{
	border:1px solid #f0f1f2;
	cursor:pointer;
	border-bottom:0;
	text-align:center;
	color:blue;
	float:right;
	padding:0 5px 0 5px;
	background:#E7ECF5;
}
.sub-reply{
	border:1px solid #f0f1f2;
	background:#E7ECF5;
	margin-top:-1px;
	margin-left:70px;
	margin-right:0px;
	padding:0px 10px 10px 10px;
	/* width:772px;
	overflow:auto; */
}
.discuss{
	padding-top:10px;
}
.answerer-img{
	float:left;
	width:32px;
	height:32px;
}
.answerer-img img{
	width:100%;
	cursor:pointer;
}
.ans-content{
	padding:10px 0;
	font-size:14px;
	line-height:20px;
	word-wrap:break-word;
	border-bottom:1px dashed #ccc;
}
.re-name{text-decoration:none;color:blue;}
.ans-co-bottom{text-align:right;}
.ans-time{color:#666;}
.sub-add{margin-top:10px;text-align:right;}
.comment{
	border:1px solid #ccc;
	padding:5px;
	background-color:#f7f8fa;
	border-radius:3px;
	color:blue;
	cursor:pointer;	
	display:inline-block;
	font-size:12px;
}
.sub-edit{margin-top:10px;text-align:right;display:none;}
.sub-edit textarea{
	resize:none;
	overflow-y:auto;
	width:100%;
	height:70px;
	word-break:break-all;
	border:1px solid #ccc;
	line-height:20px;
}
.post{
	cursor:pointer;
	margin-top:10px;
	color:#fff;
	background-color:#398bfc;
	padding:4px 6px;
	border:none;
}
.page-div{
	text-align: center;
	margin-top:20px;
	padding-bottom:18px;
	border-bottom:1px solid #E1E4E6;
}
.page-div a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width:27px;
	height:27px;
	line-height: 27px;
	border-radius: 2px;
	border:1px solid #d0d0d0;
}
.page-div a:hover{
	border:1px solid #2877ff;
}
.abtn{
	cursor:pointer;
	padding:6px;
	color:#fff;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#28A6FF), to(#2877ff));/*谷歌*/
	background:-moz-linear-gradient(top,#28A6FF,#2877ff);/*火狐*/
	background:-ms-linear-gradient(top,#28A6FF,#2877ff);/*ie10*/
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#28A6FF,endColorStr=#2877ff); /*IE 6 7 8*/ 
	border:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.edit-div{padding:20px 0 15px 30px;}
.edit-div input{margin:15px 0 0 350px;}
.icon-rtop {
    display: none;
    text-align: center;
    width: 45px;
    height: 35px;
    vertical-align: middle;
    font-size: 25px;
    position: fixed;
    right: 150px;
    bottom: 200px;
    cursor: pointer;
    color: rgb(125, 151, 190);
    padding-top: 10px;
    background: rgb(218, 227, 243);
}
#returntop {
    z-index: 10;
    display: none;
    text-align: center;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 150px;
    bottom: 200px;
    cursor: pointer;
    word-break: break-all;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    background: rgb(168, 181, 204);
}
.sub-post{
	margin-top:10px;
	padding:4px 8px;
}
.at{
	color:blue;
}