<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Taoism</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  	
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  
   <!-- 总体功能实现：当web应用被加载到服务器时，同时加载IOC容器提供服务 -->
	<!-- 配置 Spring 配置文件的名称和位置 -->
   <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!-- 启动 IOC 容器的 ServletContextListener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  <!-- 配置解决中文乱码问题的过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.df.action.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- openSessionInview -->  
	 <filter>  
	   <filter-name>openSessionInview</filter-name>  
	   <filter-class>
	   	org.springframework.orm.hibernate4.support.OpenSessionInViewFilter 
	   </filter-class>  
	   <init-param>  
	     <param-name>sessionFactoryBeanName</param-name>  
	     <param-value> sessionFactory</param-value>  
	   </init-param>  
	   <init-param>  
	      <param-name>singleSession</param-name>  
	     <param-value>true</param-value>  
	   </init-param>  
	 </filter>  
	 <filter-mapping>  
	   <filter-name>openSessionInview</filter-name>  
	   <url-pattern>/*</url-pattern>  
	 </filter-mapping>



 
	 <servlet>
	    <servlet-name>VerifyCodeServlet</servlet-name>
	    <servlet-class>com.df.verifycode.servlet.VerifyCodeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>VerifyCodeServlet</servlet-name>
	    <url-pattern>/VerifyCodeServlet</url-pattern>
	  </servlet-mapping>
	   <error-page>
	    <error-code>404</error-code>
	    <location>/error.jsp</location>
	  </error-page>
	  <error-page>
	   <exception-type>java.lang.NullPointerException</exception-type>
	   <location>/error.jsp</location>
	</error-page>
	  <error-page>
	   <exception-type>java.lang.Exception</exception-type>
	   <location>/error.jsp</location>
	</error-page>
</web-app>